<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>me.mattam.alfred2-nar-rb</string>
	<key>connections</key>
	<dict>
		<key>86FFA506-C511-44AF-8FF3-DBEF54BC3BC8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0579DC98-AA0B-4061-8C51-B210DA7D83E3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>mattam</string>
	<key>description</key>
	<string>New album releases search</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>New Album Releases</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>open -a "/Applications/Google Chrome.app" "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0579DC98-AA0B-4061-8C51-B210DA7D83E3</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>126</integer>
				<key>keyword</key>
				<string>album</string>
				<key>runningsubtext</key>
				<string>Searching ...</string>
				<key>script</key>
				<string>ruby nar.rb "{query}"</string>
				<key>title</key>
				<string>New album releases</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>86FFA506-C511-44AF-8FF3-DBEF54BC3BC8</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0579DC98-AA0B-4061-8C51-B210DA7D83E3</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>86FFA506-C511-44AF-8FF3-DBEF54BC3BC8</key>
		<dict>
			<key>ypos</key>
			<real>50</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
